<div class="containerContent">
    <article>
        <h2>Un Poco Sobre mi  </h2><br>
        <p>
            Desarrollador con habilidades en Java, Html, CSS Bases de datos (SQL) framework Angular, Java Springboot, ApiRest, aplicaciones web, documentación, Herramientas Git, Postman, AzureDevops trabajo en equipo, Excelente servicio al cliente con varios años de experiencia capacidad de comunicación, trabajo bajo presión y practico comportamiento laboral orientado al cumplimiento de metas y en búsqueda de nuevos retos.<br><br> Fácil desenvolvimiento en diversas áreas de trabajo lo cual ha permitido un desarrollo de aptitudes que facilitan la materialización de mis funciones y actitudes que permiten ser un elemento integral dentro de los equipos de cualquier equipo de trabajo.
        </p><br><br>
    </article>

<!-- Education -->
    <article>
        <h2>Educacion</h2><br>

            <h3>Aula Matriz Oct 2021 -Actualmente estudiando-</h3><br>
            <p>Lógica y Programación  Java SE 11 <br>
                Developing Applications for the Java EE 7</p><br><br><p>
                Cursos de Desarollo Web -FrontEnd y BackEnd de platzi</p><br><br>
   
            <h3>Juan Bosco Obrero- Sena 2006</h3><br>  
            <p>Tecnico laboral en sistemas</p>
            <p>Incluye - Operador sistematizador contable</p>
            <p>Incluye - Operador basico instalcion de redes</p>
            <p>Incluye - mantenimiento computadores</p><br><br>

            <h3>Confederacion suiza</h3><br>
            <p>Bachiller Academico <br>
               Bogota</p><br><br>
    </article>

<!-- Work Experience -->
    <article>
        <h2>Experiencia Laboral</h2><br>

            <h3>Tempoexpres ( Dic 2020 - Oct 2021)
            <br> Mensajero 
            <br>Ciudad Bogota<br></h3>
            <p></p>
            <br><br>

            <h3>Tempoexpres ( Dic 2015 - Jul 2019)
            <br>Mensajero 
            <br>Ciudad Cali<br></h3>
            <p></p>
            <br><br>

            <h3>Tempoexpres ( sep  2012 - 2015)
            <br> Mensajero 
            <br>Ciudad Bogota<br></h3>
            <p></p>
            <br><br>

            <br><br>
    </article>
</div>
